/*
 * @Author: jay 
 * @Date: 2018-11-13 17:11:18 
 * @Last Modified by: jay
 * @Last Modified time: 2018-11-13 17:26:55
 */

@import "./variable";

html,
body,
#root {
  // position: relative;
  height: 100%;
}

body {
  // background: #162a5e;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
}

// reset
ul {
  list-style: none;
}
