.system{
    color:#666;
    display: flex;

    nav{
        // display: flex;
        // flex-direction: column;
        height: 100%;

        >ul{
            height: 100%;
        }
        // li{
        //     height: 2rem;
        // }
    }

    
}