/*
 * @Author: jay 
 * @Date: 2018-11-13 17:03:54 
 * @Last Modified by: jay
 * @Last Modified time: 2018-11-14 16:27:07
 */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #07111b;
  color: #fff;
  padding: 20px 20px;
  z-index: 100;
  display: flex !important;
  align-items: center;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;

    .logo {
      background-image: url(https://avatars1.githubusercontent.com/u/5726089?s=460&v=4);
      background-size: cover;
      border-radius: 100%;
      width: 2.5rem;
      height: 2.5rem;
      border: 1.5px solid #999;
    }

    > nav > ul {
      display: flex;
      align-items: center;
      margin: auto;

      > li {
        list-style: none;
        padding: 0 1.6rem;
        a {
          text-decoration: none;
          color: #666;
        }
      }
      .active {
        color: #fff;
      }
    }
  }
}

main {
  padding-top: 70px;
  height: 100%;
  > div {
    height: 100%;
  }

  .content {
    margin-left: 2rem;
    width: 100%;
    overflow: auto;
    > div {
      margin: 1rem;
    }
  }
}
