$header-height: 4rem;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #001529;
  color: #fff;
  z-index: 9999;
  height: $header-height;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .header-left {
    display: flex;
    align-items: center;

    .logo {
      background-image: url(https://avatars1.githubusercontent.com/u/5726089?s=460&v=4);
      background-size: cover;
      border-radius: 100%;
      width: 2.5rem;
      height: 2.5rem;
      border: 1.5px solid #999;
    }

    > nav > ul {
      display: flex;
      align-items: center;
      margin: auto;

      > li {
        list-style: none;
        padding: 0 1.6rem;
        font-size: 1rem;
        a {
          text-decoration: none;
          color: #666;
        }
      }
      .active {
        color: #fff;
      }
    }
  }
}

main {
  padding-top: $header-height;
  height: 100%;
  > div {
    height: 100%;
  }

  .content {
    margin-left: 2rem;
    width: 100%;
    overflow: auto;
  }
}
