.login {
  height: 100%;
  background-color: #333;
  background-image: url(https://ss0.bdstatic.com/l4oZeXSm1A5BphGlnYG/skin/115.jpg);
  //   position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  zoom: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 2rem;
    margin-top: 1rem;
    color: #fff;
  }

  .login-form {
    width: 22rem;
    height: 18rem;
    background-color: #666;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;

    button {
      width: 12rem;
      // height: 2rem;
      // background-color: #0ca5d2;
      // color: #fff;
      // border-radius: 0.6rem;
      // font-size: 1rem;
    }
  }
}
